{% extends 'base.html' %}
{% block title %} create {% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h4>Welcome back {{ user.username }}! </h4>
    {% endif %}

    <p>Create a new List</p>

    <form method="post" action="/create/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit", name="save", class="btn btn-success">Create New</button>
            </div>
            {{form.name}}
        </div>
    </form>
{% endblock %}